#input {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

#filler {
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    font-size: 48px;
    color: #fdfcdc;
}

body {
    background-color: #0081A7;
}

.btn {
    background-color: #fed9b7;
    color: #00AFB9;
    border-radius: 40px;
}

.btn:hover {
    color: #fed9b7;
    background-color: #00AFB9;
}

.form-control {
    border-radius: 40px;
}